.box{
    background-color: $white;
    width: 92%;
    padding: 2% 4%;
    margin: 30px 0;
    box-shadow: 13px 14px 34px rgba($color: #000000, $alpha: 0.1);

    &.box-module{
        box-shadow: none;
        border-radius: 4px;
        width: 100px;
    }

    &.box-fill{
        background-color: $gris;
        color: $white;
    }

    &.box-style-1{
        display: grid;
        box-shadow: none;
        border: 2px solid $gris;
        border-radius: 4px;
    }

    &.box-style-2{
        display: grid;
        grid-template-rows: 80px 400px;
        padding: 0;
        justify-content: center;
        .box-title{
            padding: 2% 4%;            
            background-color: $white;
            h1{
                text-align: center;
                font-size: 22px;
                font-weight: 600;
            }
        }
    
        .box-content{
            padding: 2% 10%;
            text-align: left;
            font-size: 17px;
            background-color: $main-color;

            h1{
                color: $white;
            }

            h2{
                font-weight: 600;
            }

            p{
                color: $gris;
            }
        }
    }

    .box-title{
        text-align: center;
        font-size: 20px;
    }

    .box-content{
        text-align: center;
        font-size: 17px;
    }


    &.box-style-3{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a b";
        margin: auto;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        .box-left{
            grid-area: a;            

            .box-title{
                position: relative;
                text-align: left;
            }

            .buttons{
                display: flex;
                flex-flow: row wrap;
            }
        }

        .box-right{
            grid-area: b;
            padding: 20px;
            text-align: right;
        }
        
    }
    &.box-style-4{
        width: 100%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "a b";
        margin: auto;
        position: relative;
        padding:0;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        
        span{
            color: $main-color;
        }
        .box-icons{
            display: flex;
            margin: 2px 20px;
            svg{
                height: 22px;
                width: 18px;
                fill: $red;
                margin-top: 3px;
            }
            span{
                margin: 7px;
                font-size: 14px;
            }
        }

        .box-left{
            margin: auto;
        }

        .box-middle{
            margin: auto;
            padding: 0 4%;
            
            padding-bottom: 4%;
            p{
                font-size: 14px;
            }
        }

        .box-right{
            background-color: $red;
            margin: 0;
            padding: 20%;
            border-radius: 0;
            text-align: center;  
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            img{
                width: 70px;
            }
            h1{
                font-size: 17px;
                color: $white;
            }
        }

    }
}


.signin-module{
    display: inline-block;
    text-align: center;
    border: 2px solid $gris;
    padding: 10px 40px;
    margin: 10px 20px;
    cursor: pointer;

    &.type-enseignement{
        padding: 7px 17px;
        margin: 0 7px;
        border-radius: 10px;
    }

    &.systeme-educatif, &.etablissement, &.type-cycle{
        border: 1px solid $gris;
        border-radius: 4px;
        padding: 7px 27px;
        margin: 0 7px;
    }

    .svg-red{
        fill: $red;
    }

    .svg-blue{
        fill: $secondary-color;
    }

    .svg-main{
        fill: $main-color;
    }

    .svg-school{
        fill: yellowgreen;
    }
    .svg-candidate{
        fill: $main-color;
    }
    .svg-company{
        fill: $secondary-color;
    }

    &:hover{
        box-shadow: 2px 4px 2px rgba($color: #000000, $alpha: 0.1);
        border-color: $gris;
    }
    
    &.selected{
        box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.1);
        border-color: $secondary-color;
        border-width: 3px;
    }    
}

.float-animation{
    animation: float 3s ease-in-out infinite;

    @keyframes float {
        0% {        
        transform: translatey(0px);
        }
        50% {
        
        transform: translatey(-7px);
        }
        100% {
        
        transform: translatey(0px);
        }
    }
}



@media(max-width: 599px) {
    .box{
        margin: auto;
        &.box-style-4{
            width: 320px;
            display: flex;
            flex-flow: row wrap;
            span{
                font-size: 14px;
            }

            .box-icons{ 
                margin: auto;
                padding: 0 10px;
                svg{
                    display: none;
                }
                span{
                    font-size: 13px;
                }
            }            
    
            .box-right{
                width: 100%;
                padding: 4px 0;
                border-radius: 0;
                img{
                    width: 40px;
                }
                h1{
                    font-size: 14px;
                }
            }
        }
    }
}

@media(min-width: 600px) and (max-width: 767px) {
    .box{
        margin: auto;
        &.box-style-4{
            width: 500px;
            display: flex;
            flex-flow: row wrap;
            margin: auto;            
            span{
                font-size: 14px;
            }
            
            .box-icons{
                margin: 2px 40px;
            }
    
            .box-right{
                width: 100%;
                padding: 4px 0;
                border-radius: 0;
                img{
                    width: 40px;
                }
                h1{
                    font-size: 14px;
                }
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 980px) {
    .box{
        &.box-style-4{
            width: 670px;
            margin: auto;
            justify-content: center;       
            span{
                font-size: 14px;
            }
            
            .box-icons{
                margin: auto;
                svg{
                    height: 18px;
                    width: 14px;                    
                    margin-top: 8px;
                }
            }
            
            .box-right{
                width: 37px;
                padding: 70px;
                img{
                    width: 40px;
                }
                h1{
                    font-size: 10px;
                }
            }            
    
            .box-middle{
                margin: auto;
                padding: 0 4%;            
                padding-bottom: 4%;
                p{
                    font-size: 13px;
                }
            }
        }
    }
}

@media(min-width: 980px) and (max-width: 1389px) {

}

@media(min-width: 1300px) {

}