.charts{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 40px;
    width: 100%;
    padding: 20px 0;

    .chart{
        background: white;
        border-radius: 5px;
        box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.08);
        width: 100%;
        h4{
            padding: 0 20px;
            font-size: 15px;
            font-weight: 600;
            color: $main-color;
        }
        #lineChart{
            padding: 15px;
        }
        #doughnut{
            margin: 20px;            
        }
    }
}

@media(max-width: 599px) {
    .charts{
        grid-template-columns: 1fr;
    }  
}

@media(min-width: 600px) and (max-width: 767px) {
    .charts{
        grid-template-columns: 1fr;
    }    
}

@media(min-width: 768px) and (max-width: 980px) {
    .charts{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 980px) and (max-width: 1389px) {
    .charts{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 1300px) {

}